/*body {
background-color: white;
}

/*:root {
    --darkgray: #212329;
    --white: #fff;
}*/

.imagesection {
    /*background-color: var(--darkgray);*/
    width: 100vw;
}

.imagename {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    overflow: hidden;
    height: 100vh;
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.imagename video {
    position: absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.imagename h1{
    position: absolute;
    top: 10;
    left: 10;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 100vh;
    mix-blend-mode: screen;
}