.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--darkgray);

    height: auto;
}

.image-cell {
    flex: 0 1 250px;
    max-width: 250px;
    height: 275px;
    margin: 2px;
    position: relative;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.8);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    cursor: pointer;
    transform: translate(-5px, 200px) rotate(45deg);
    transition: transform 2s;
}

.image-cell_imgs {
    object-fit: cover;
    object-position: center;
}

.image-cell::before, .image-cell::after, .image-cell_imgs {
    top: -50%;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.image-cell:hover {
    opacity: 1;
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    z-index: 99;
    overflow: hidden;
}

.image-cell:before {
    content: '';
    position: absolute;
    opacity: 0.4;
    width: 350px;
    height: 70px;
    background: var(--white);
    top: 50;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
    transition: transform 1.5s;
}

@media screen and (min-width: 550px) and (max-width: 825px) {
    .image-cell:nth-child(3n) {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
    }
    .image-cell:nth-child(3) {
        top: -70px;
    }
    .image-cell:nth-child(4) {
        top: -140px;
    }
    .image-cell:nth-child(5) {
        top: -70px;
    }
    .image-cell:nth-child(6) {
        top: -210px;
    }
    .image-cell:nth-child(7) {
        top: -280px;
        margin-right: 250px;
    }
}

@media screen and (min-width: 825px) and (max-width: 1100px) {
    .image-cell:nth-child(4) {
        top: -70px;
        margin-left: calc(50% - 275px);
    }

    .image-cell:nth-child(5) {
    margin-right: calc(50% - 275px);
    position: relative;
    top: -70px;
    }
    .image-cell:nth-child(6) {
        margin-left: calc(50% - 530px);
        top: -140px;
    }
    .image-cell:nth-child(7) {
        margin-right: calc(50% - 275px);
        top: -140px;
    }
}

@media (min-width: 1100px) {
    .image-cell:nth-child(n + 5) {
        position: relative;
        top: -70px;
    }
}

@media screen and (max-width: 550px) {
    .image-cell {
        margin: 50px 25px;
    }
}
